// Here you can add other styles
.flag-icon{
    min-height:32px;
}

.c-header-fixed{
    top:0px;
}

.edit-menu-icon{
    height:32px;
}

.lds-dual-ring {
    position: absolute;
    display: none;
    width: 80px;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    /*background-color: rgba(0,0,0,0.2);*/
}
.lds-dual-ring:after {
    content: " ";
    display: flex;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #321fdb transparent #321fdb transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.c-sidebar .c-sidebar-brand {
    background-color: rgb(255,255,255);
}
